.container{
    padding: 0 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: blue;

    
}
.map{
   
    background-color: red;
    flex: 1;
}
.start{
    background-color: green;
    flex:1;
}
.main{
    min-height: 100vh;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: 1;
}

/* Path: my-app\src\styles\Home.module.css */
.container{
    padding: 0 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: blue;

    
}



.date_picker {
    display: block;
    width: 100%;
    height: 40px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    outline: none;
    cursor: pointer;
  }

  